@import "design-settings.scss";
@import "velvet-mixins.scss";

@mixin font {
	font-family: 'Poppins', sans-serif;
}

body {
	@include font;
	font-weight: 400;
	overflow-x: hidden;

	&.deactive {
		overflow-y: hidden;
	}

	//BG COLORS
	&.bg-header-orange {
		.site-header {
			background: $orange;
		}
	}
	&.bg-header-pink {
		.site-header {
			background: $pink;
		}
	}
	&.bg-header-blue {
		.site-header {
			background: $blue;
		}
	}
	&.bg-header-accent {
		.site-header {
			background: $accent;
		}
	}

	&.bg-header-gradient-main {
		.site-header {
			@include gradient-main;
		}
	}
	&.bg-header-gradient-orange-pink {
		.site-header {
			@include gradient-orange-pink;
		}
	}
	&.bg-header-gradient-pink-blue {
		.site-header {
			@include gradient-pink-blue;
		}
	}

	&.bg-header-gradient-orange {
		.site-header {
			@include gradient-orange;
		}
	}
	&.bg-header-gradient-pink {
		.site-header {
			@include gradient-pink;
		}
	}
	&.bg-header-gradient-blue {
		.site-header {
			@include gradient-blue;
		}
	}

	&.bg-header-white {
		.site-header {
			background: $white;
		}
	}

	&.bg-header-black {
		.site-header {
			background: $black;
		}
	}

	&.bg-header-grey-light {
		.site-header {
			background: $grey-light;
		}
	}

	&.bg-header-grey-dark {
		.site-header {
			background: $grey-dark;
		}
	}

	&.bg-header-grey-5 {
		.site-header {
			background: $grey-5;
		}
	}

	&.bg-header-grey-10 {
		.site-header {
			background: $grey-10;
		}
	}

	&.bg-header-grey-15 {
		.site-header {
			background: $grey-15;
		}
	}

	&.bg-header-grey-20 {
		.site-header {
			background: $grey-20;
		}
	}

	&.bg-header-grey-25 {
		.site-header {
			background: $grey-25;
		}
	}

	&.bg-header-grey-30 {
		.site-header {
			background: $grey-30;
		}
	}

	&.bg-header-grey-35 {
		.site-header {
			background: $grey-35;
		}
	}

	&.bg-header-grey-40 {
		.site-header {
			background: $grey-40;
		}
	}

	&.bg-header-grey-45 {
		.site-header {
			background: $grey-45;
		}
	}

	&.bg-header-grey-50 {
		.site-header {
			background: $grey-50;
		}
	}

	&.bg-header-grey-55 {
		.site-header {
			background: $grey-55;
		}
	}

	&.bg-header-grey-60 {
		.site-header {
			background: $grey-60;
		}
	}

	&.bg-header-grey-65 {
		.site-header {
			background: $grey-65;
		}
	}

	&.bg-header-grey-70 {
		.site-header {
			background: $grey-70;
		}
	}

	&.bg-header-grey-75 {
		.site-header {
			background: $grey-75;
		}
	}

	&.bg-header-grey-80 {
		.site-header {
			background: $grey-80;
		}
	}

	&.bg-header-grey-85 {
		.site-header {
			background: $grey-85;
		}
	}

	&.bg-header-grey-90 {
		.site-header {
			background: $grey-90;
		}
	}

	&.bg-header-grey-95 {
		.site-header {
			background: $grey-95;
		}
	}

	//FONT COLORS
	&.fc-orange {
		.site-header {
			color: $orange !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $orange;
			}
			.breadcrumb-menu {
				&:after {
					background: $orange;
				}

				li {
					&:after {
						background: $orange;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $orange;
			}
		}
	}
	&.fc-pink {
		.site-header {
			color: $pink !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $pink;
			}
			.breadcrumb-menu {
				&:after {
					background: $pink;
				}

				li {
					&:after {
						background: $pink;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $pink;
			}
		}
	}
	&.fc-blue {
		.site-header {
			color: $blue !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $blue;
			}
			.breadcrumb-menu {
				&:after {
					background: $blue;
				}

				li {
					&:after {
						background: $blue;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $blue;
			}
		}
	}
	&.fc-accent {
		.site-header {
			color: $accent !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $accent;
			}
			.breadcrumb-menu {
				&:after {
					background: $accent;
				}

				li {
					&:after {
						background: $accent;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $accent;
			}
		}
	}

	&.fc-white {
		.site-header {
			color: $white !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $white;
			}
			.breadcrumb-menu {
				&:after {
					background: $white;
				}

				li {
					&:after {
						background: $white;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $white;
			}
		}
	}

	&.fc-grey-light {
		.site-header {
			color: $grey-light !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-light;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-light;
				}

				li {
					&:after {
						background: $grey-light;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-light;
			}
		}
	}

	&.fc-grey-dark {
		.site-header {
			color: $grey-dark !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-dark;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-dark;
				}

				li {
					&:after {
						background: $grey-dark;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-dark;
			}
		}
	}

	&.fc-grey-5 {
		.site-header {
			color: $grey-5 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-5;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-5;
				}

				li {
					&:after {
						background: $grey-5;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-5;
			}
		}
	}

	&.fc-grey-10 {
		.site-header {
			color: $grey-10 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-10;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-10;
				}

				li {
					&:after {
						background: $grey-10;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-10;
			}
		}
	}

	&.fc-grey-15 {
		.site-header {
			color: $grey-15 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-15;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-15;
				}

				li {
					&:after {
						background: $grey-15;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-15;
			}
		}
	}

	&.fc-grey-20 {
		.site-header {
			color: $grey-20 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-20;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-20;
				}

				li {
					&:after {
						background: $grey-20;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-20;
			}
		}
	}

	&.fc-grey-25 {
		.site-header {
			color: $grey-25 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-25;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-25;
				}

				li {
					&:after {
						background: $grey-25;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-25;
			}
		}
	}

	&.fc-grey-30 {
		.site-header {
			color: $grey-30 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-30;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-30;
				}

				li {
					&:after {
						background: $grey-30;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-30;
			}
		}
	}

	&.fc-grey-35 {
		.site-header {
			color: $grey-35 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-35;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-35;
				}

				li {
					&:after {
						background: $grey-35;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-35;
			}
		}
	}

	&.fc-grey-40 {
		.site-header {
			color: $grey-40 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-40;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-40;
				}

				li {
					&:after {
						background: $grey-40;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-40;
			}
		}
	}

	&.fc-grey-45 {
		.site-header {
			color: $grey-45 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-45;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-45;
				}

				li {
					&:after {
						background: $grey-45;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-45;
			}
		}
	}

	&.fc-grey-50 {
		.site-header {
			color: $grey-50 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-50;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-50;
				}

				li {
					&:after {
						background: $grey-50;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-50;
			}
		}
	}

	&.fc-grey-55 {
		.site-header {
			color: $grey-55 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-55;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-55;
				}

				li {
					&:after {
						background: $grey-55;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-55;
			}
		}
	}

	&.fc-grey-60 {
		.site-header {
			color: $grey-60 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-60;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-60;
				}

				li {
					&:after {
						background: $grey-60;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-60;
			}
		}
	}

	&.fc-grey-65 {
		.site-header {
			color: $grey-65 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-65;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-65;
				}

				li {
					&:after {
						background: $grey-65;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-65;
			}
		}
	}

	&.fc-grey-70 {
		.site-header {
			color: $grey-70 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-70;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-70;
				}

				li {
					&:after {
						background: $grey-70;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-70;
			}
		}
	}

	&.fc-grey-75 {
		.site-header {
			color: $grey-75 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-75;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-75;
				}

				li {
					&:after {
						background: $grey-75;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-75;
			}
		}
	}

	&.fc-grey-80 {
		.site-header {
			color: $grey-80 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-80;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-80;
				}

				li {
					&:after {
						background: $grey-80;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-80;
			}
		}
	}

	&.fc-grey-85 {
		.site-header {
			color: $grey-85 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-85;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-85;
				}

				li {
					&:after {
						background: $grey-85;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-85;
			}
		}
	}

	&.fc-grey-90 {
		.site-header {
			color: $grey-90 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-90;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-90;
				}

				li {
					&:after {
						background: $grey-90;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-90;
			}
		}
	}

	&.fc-grey-95 {
		.site-header {
			color: $grey-95 !important;

			ul.cat-list li, ul.data-list li a, ul.data-list li span.no-link {
				border-color: $grey-95;
			}
			.breadcrumb-menu {
				&:after {
					background: $grey-95;
				}

				li {
					&:after {
						background: $grey-95;
					}
				}
			}
		}
		footer.footer {
			.ce-headline, small.copyright {
				color: $grey-95;
			}
		}
	}
}

nav.nav, header.header, .site-header, .main.main, footer.footer {
	@include con;

	>.neos-contentcollection {
		@include con;
	}
}

nav.nav {
	position: fixed;
	top: 0;
	left: -9999px;
	width: 100%;
	height: 100vh;
	display: block;
	z-index: 9995;
	background: $white;
	padding-top: 6rem;
	padding-top: calc(5rem + 30px);
	overflow-x: hidden;
	overflow-y: auto;
	transition: opacity 0.35s $default-easing, transform  0.35s $default-easing;
	opacity: 0;
	color: $white;
	@include transform(scale(1.5));

	&.add {
		left: 0;
	}

	&.show {
		transition: opacity 0.35s $default-easing, transform  0.35s $default-easing;
		opacity: 1;
		@include transform(scale(1));
	}

	.v-cell {
		opacity: 1 !important;
		@include transform(translate3d(0, 0, 0) !important);
	}

	ul.main-menu, ul.language-menu {
		@include con;

		li {
			@include con;
			list-style: none;
			margin-bottom: 0.75rem;

			&:last-child {
				margin-bottom: 0;
			}

			&.current {
				a {
					@include gradient-main;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			a {
				@include font;
				display: inline;
				color: $accent;
				font-weight: 700;
				font-size: 2.5rem;
				opacity: 1;
				@include transition(all 0.5s $default-easing);

				&:hover {
					@include transition(all 0.35s $default-easing);
					opacity: 0.75;
				}
			}
		}
	}

	ul.main-menu {
		margin-bottom: 3rem;
	}

	ul.language-menu {
		li {
			margin-bottom: 0.5rem;
			a {
				font-size: 1.1rem;
			}
		}
	}
}

header.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: $white;
	border-bottom: 1px solid $grey-10;

	.v-grid {
		padding: 1.5rem 2rem;
		grid-template-columns: auto 1fr auto;
		-webkit-grid-template-columns: auto 1fr auto;
		-moz-grid-template-columns: auto 1fr auto;

		&.project-logo {
			grid-template-columns: auto auto 1fr auto;
			-webkit-grid-template-columns: auto auto 1fr auto;
			-moz-grid-template-columns: auto auto 1fr auto;
		}
	}

	a.logo, a.project-logo {
		width: auto;
		height: auto;
		display: flex;
		justify-content: center;

		img {
			width: auto;
			height: 30px;
			display: block;
		}

		.logo-headline {
			position: relative;
			top: 2px;
			display: inline;
			font-weight: 700;
			color: $accent;
			font-size: 1.25rem;
			margin-left: 1.25rem;
			line-height: 30px;
			@include font;
		}
	}

	a.project-logo {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -1rem;
			top: 0;
			width: 1px;
			height: 100%;
			background: $grey-15;
		}
	}

	nav.default-menu {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		align-content: center;
		justify-content: flex-end;
		position: relative;
	}

	ul.links {
		width: auto;
		height: auto;
		padding: 0 1.5rem;
		display: inline-flex;
		justify-content: flex-end;
		flex: 1;
		overflow: hidden;

		li {
			flex: none;
			list-style: none;
			width: auto;
			height: auto;
			margin-right: 1rem;
			white-space: nowrap;

			&:last-child {
				margin-right: 0;
			}

			&.current {
				a {
					color: $orange;
					font-weight: 700;
				}
			}

			a {
				width: auto;
				height: 30px;
				display: block;
				line-height: 30px;
				color: $grey-dark;
				@include font;
				font-weight: 300;
				opacity: 1;
				@include transition(all 0.5s $default-easing);

				&:hover {
					@include transition(all 0.35s $default-easing);
					opacity: 0.75;
				}
			}
		}
	}

	.default-menu-toggle {
		width: auto;
		height: 30px;
		display: inline;
		position: relative;
		cursor: pointer;
		line-height: 30px;
		color: $pink;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8rem;

		&.hidden {
			display: none;
		}

		&:before {
			content: '+ 'attr(count);
			display: inline-flex;
			width: auto;
			height: 24px;
			align-items: center;
			justify-content: center;
			background: $pink;
			color: $white;
			margin: 3px 0;
			padding: 0 0.75rem;
			line-height: 24px;
			font-weight: 700;
			margin-right: 0.5rem;
			@include border-radius($radius-small);
		}

		>p {
			&.toggle-text {
				display: none;

				@include for-size(sm) {
					display: inline-block;
				}
			}

			&.toggle-icon {
				position: relative;
				height: 30px;
				width: 25px !important;
				float: right;
				display: inline-block;

				@include for-size(sm) {
					display: none;
				}

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translateX(-50%) translateY(-50%));
					font-size: 1.6rem;
				}
			}
		}
	}

	ul.hidden-links {
		width: auto;
		height: auto;
		position: absolute !important;
		bottom: -24px;
		right: 0;
		display: block;
		z-index: 9998;
		background: $white;
		@include box-shadow(0 5px 7px rgba(0,0,0,0.35));
		@include transform(translateY(100%));

		&.hidden {
			display: none;
		}

		li {
			width: 100%;
			display: block;
			margin-right: 0;

			&.current {
				a {
					color: $orange;
					font-weight: 700;
				}
			}
			&:last-child {
				a {
					border-bottom: none;
				}
			}

			a {
				height: auto;
				display: block;
				padding: 0.75rem;
				color: $grey-dark;
				font-weight: 300;
				@include font;
				border-bottom: 1px solid $grey-5;
				opacity: 1;
				@include transition(all 0.5s $default-easing);

				&:hover {
					@include transition(all 0.35s $default-easing);
					opacity: 0.75;
				}
			}
		}
	}

	.menu-toggle {
		height: 30px;
		width: 40px;
		display: inline-block;
		float: right;
		cursor: pointer;
		padding: 7px 0;

		&.active {
			span {
				@include transition(all 0.5s $default-easing);
				&:first-child {
					@include transform(rotate(45deg) translateY(9px));
				}
				&:last-child {
					@include transform(rotate(-45deg) translateY(-9px));
				}
			}
		}

		span {
			display: block;
			width: 40px;
			height: 3px;
			@include gradient-main;
			@include border-radius($radius-medium);
			@include transition(all 0.35s $default-easing);

			&:last-child {
				margin-top: 10px;
			}
		}
	}
}

.site-header {
	position: relative;
	overflow: hidden;
	padding-top: 6rem;
	padding-top: calc(4rem + 78px);
	padding-bottom: 7.25rem;
	z-index: 0;
	border-bottom: 1px solid $grey-10;

	figure.bg-image {
		&.fullsize {
			width: 100%;
			left: 0;
		}

		&.align-left {
			@include for-size(md) {
				width: 50%;
				left: 0;
			}
		}

		&.align-right {
			@include for-size(md) {
				width: 50%;
				left: 50%;
			}
		}
	}

	.v-grid {
		position: relative;
		z-index: 5;
		row-gap: 1rem;
	}

	.breadcrumb-menu {
		width: auto;
		height: auto;
		display: flex;
		align-items: center;
		position: relative;
		padding-bottom: 0.5rem;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 25px;
			height: 3px;
		}

		li {
			list-style: none;
			margin-right: 0.75rem;
			position: relative;

			&:after {
				content: "";
				margin-left: 0.75rem;
				width: 6px;
				height: 6px;
				display: inline-block;
				position: relative;
				top: 50%;
				@include transform(translateY(-25%));
			}

			&:last-child {
				margin-right: 0;

				&:after {
					display: none;
				}
			}

			a, span {
				display: inline;
				text-transform: uppercase;
				font-size: 0.85rem;
			}
		}
	}

	h1 {
		@include font;
		font-size: 2.33rem !important;
		line-height: 1.2 !important;
		@include hyphens(none !important);
		letter-spacing: 0.1rem !important;

		@include for-size(md) {
			font-size: 2.66rem !important;
		}

		@include for-size(lg) {
			font-size: 3rem !important;
		}

		&.article-headline {
			font-size: 1.75rem !important;

			@include for-size(md) {
				font-size: 2rem !important;
			}

			@include for-size(lg) {
				font-size: 2.25rem !important;
			}
		}
	}

	.articles-count {
		font-weight: 700;
		font-size: 0.85rem;
		text-align: right;
		text-transform: uppercase;
		letter-spacing: 0.01rem;
	}

	.article-image {
		width: 100%;
		height: auto;
		padding-top: 100%;
		position: relative;
		@include border-radius($radius-medium);
		overflow: hidden;
		margin-bottom: 2rem;
		@include box-shadow($shadow-small);

		.badge-new {
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			padding: 0.25rem 0.75rem 0.2rem;
			color: $white;
			@include border-radius($radius-small);
			z-index: 5;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.01rem;
			font-size: 0.75rem;
		}

		figure {
			@include transition(all 0.35s $default-easing);
			width: 100%;
			height: 100%;
			@include background-size(cover !important);
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
		}
	}

	.article-date, ul.author-list {
		@include con;
		.icon {
			width: 25px;
			display: inline;
			margin-right: 0.75rem;

			i {
				font-size: 24px !important;

				&.lni-user {
					position: relative;
					top: 2px;
				}
			}
		}
	}

	.article-date {
		font-size: 1rem;
		letter-spacing: 0.025rem;
		text-transform: uppercase;
		font-weight: 300;
		line-height: 20px;
		display: flex;
		align-content: center;
		align-items: center;
	}

	ul.author-list {
		display: flex;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;

		li {
			display: inline !important;
			width: auto !important;
			margin-right: 0 !important;
			margin-bottom: 0 !important;
			padding: 0 !important;
			border: none !important;
			font-size: 1rem !important;
			font-weight: 300 !important;

			&:after {
				content: ',';
				margin-right: 0.25rem;
			}

			&:last-child {
				&:after {
					content: '';
					display: none;
					margin-right: 0;
				}
			}
		}
	}

	ul.cat-list {
		width: 100%;
		height: auto;
		display: flex;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;

		li {
			display: block;
			width: 100%;
			height: auto;
			list-style: none;
			font-size: 0.85rem;
			letter-spacing: 0.025rem;
			text-transform: uppercase;
			font-weight: 700;
			padding: 0.5rem 1.25rem 0.4rem;
			margin-right: 0;
			margin-bottom: 0.5rem;
			border: none !important;
			background: $white;
			@include box-shadow($shadow-small);
			@include border-radius($radius-small);

			&:last-child {
				margin-right: 0;
			}

			@include for-size(sm) {
				display: inline;
				width: auto;
				margin-right: 0.5rem;
				margin-bottom: 0;
			}
		}
	}

	ul.data-list {
		width: 100%;
		height: auto;
		display: flex;
		justify-items: center;
		align-items: center;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;

		li {
			display: block;
			width: 100%;
			height: auto;
			list-style: none;
			margin-right: 0;
			margin-bottom: 0.5rem;

			@include for-size(sm) {
				display: inline;
				width: auto;
				margin-right: 0.5rem;
				margin-bottom: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			a, span.no-link {
				width: auto;
				font-size: 0.85rem;
				letter-spacing: 0.025rem;
				text-transform: uppercase;
				font-weight: 700;
				padding: 0.5rem 1.25rem 0.4rem;
				display: flex;
				align-items: center;
				border: 1px solid;

				span {
					&.icon {
						margin-right: 0.5rem;

						i {
							font-size: 1.1rem;
							position: relative;
							top: 2px;
						}
					}
				}
			}
		}
	}
}

main.main {
	position: relative;
	z-index: 500;
	margin-top: -6rem;

	.main-inner {
		@include con;
	}
}

footer.footer {
	background: $white;
	padding: 2rem 0;
	border-top: 1px solid $grey-10;

	a.logo, a.project-logo {
		width: auto;
		height: auto;
		display: block;

		img {
			width: auto;
			height: 30px;
			display: inline;
		}
	}

	a.project-logo {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -1rem;
			top: 0;
			width: 1px;
			height: 100%;
			background: $grey-20;
		}
	}

	small.copyright {
		float: right;
		font-weight: 700;
		text-transform: uppercase;
	}

	.ce-text {
		color: $accent;
	}

	.v-cell {
		opacity: 1 !important;
		@include transform(translate3d(0,0,0) !important);

		ul {
			@include con;

			li {
				@include con;
				list-style: none;

				a {
					@include con;
					color: $accent;
					opacity: 1;
					font-size: inherit !important;
					cursor: pointer !important;
					@include transition(all 0.35s $default-easing);

					&:hover {
						@include transition(all 0.5s $default-easing);
						opacity: 0.75;
					}
				}
			}
		}

	}
}

.ce-section {
	@include con;
	position: relative;
	overflow: hidden;

	&.gap-t {
		padding-top: 1rem;

		@include for-size(sm) {
			padding-top: 1.5rem;
		}

		@include for-size(md) {
			padding-top: 2rem;
		}
	}
	&.gap-b {
		padding-bottom: 1rem;

		@include for-size(sm) {
			padding-bottom: 1.5rem;
		}

		@include for-size(md) {
			padding-bottom: 2rem;
		}
	}
	&.gap-l {
		padding-left: 1rem;

		@include for-size(sm) {
			padding-left: 1.5rem;
		}

		@include for-size(md) {
			padding-left: 2rem;
		}
	}
	&.gap-r {
		padding-right: 1rem;

		@include for-size(sm) {
			padding-right: 1.5rem;
		}

		@include for-size(md) {
			padding-right: 2rem;
		}
	}

	.section-inner {
		@include con;
		position: relative;
		z-index: 5;

		>.neos-contentcollection {
			@include con;
		}
	}
}

.ce-headline, .ce-text, .ce-image, .ce-code, .ce-button-group, .ce-output, .ce-menu, .ce-code, ul.cat-list {
	@include con;

	&.gap-t {
		padding-top: 1rem;

		@include for-size(sm) {
			padding-top: 1.5rem;
		}

		@include for-size(md) {
			padding-top: 2rem;
		}
	}
	&.gap-b {
		padding-bottom: 1rem;

		@include for-size(sm) {
			padding-bottom: 1.5rem;
		}

		@include for-size(md) {
			padding-bottom: 2rem;
		}
	}
}

.ce-headline {
	@include font;

	h1, h2, h3, h4, h5, h6, a {
		width: auto;
		height: auto;
		display: block;
		font-weight: 300;
		line-height: 1.25;
		color: inherit;
		@include hyphens(auto);
		letter-spacing: 0.01rem;

		strong {
			font-weight: 700;
		}
	}
	h1 {
		font-size: 3.75rem;

		@include for-size(md) {
			font-size: 4rem;
		}

		@include for-size(lg) {
			font-size: 4.25rem;
		}
	}
	h2 {
		font-size: 2.33rem;

		@include for-size(md) {
			font-size: 2.66rem;
		}

		@include for-size(lg) {
			font-size: 3rem;
		}
	}
	h3 {
		font-size: 1.75rem;

		@include for-size(md) {
			font-size: 2rem;
		}

		@include for-size(lg) {
			font-size: 2.25rem;
		}
	}
	h4 {
		font-size: 1.25rem;

		@include for-size(md) {
			font-size: 1.33rem;
		}

		@include for-size(lg) {
			font-size: 1.5rem;
		}
	}
	h5 {
		font-size: 0.9rem;

		@include for-size(md) {
			font-size: 1rem;
		}

		@include for-size(lg) {
			font-size: 1.1rem;
		}
	}

	&.style-line {
		position: relative;
		margin-bottom: 1rem;
		margin-bottom: calc(0.5rem + 10px);

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: -10px;
			width: 120px;
			height: 8px;
		}

		//LINE POSITION
		&.line-left {
			&:before {
				left: 0;
			}
		}

		&.line-center {
			&:before {
				left: 50%;
				@include transform(translateX(-50%));
			}
		}

		&.line-right {
			&:before {
				right: 0;
			}
		}

		//LINE COLOR
		&.lc-orange {
			&:before {
				background: $orange;
			}
		}
		&.lc-pink {
			&:before {
				background: $pink;
			}
		}
		&.lc-blue {
			&:before {
				background: $blue;
			}
		}
		&.lc-accent {
			&:before {
				background: $accent;
			}
		}

		&.lc-white {
			&:before {
				background: $white;
			}
		}

		&.lc-grey-light {
			&:before {
				background: $grey-light;
			}
		}

		&.lc-grey-dark {
			&:before {
				background: $grey-dark;
			}
		}


		h1, h2, h3, h4, h5, h6 {
			position: relative;
			z-index: 5;
		}
	}
}

.ce-text {
	@include font;
	line-height: 1.6;
	font-size: 0.9rem;

	@include for-size(md) {
		font-size: 1rem;
	}

	@include for-size(lg) {
		font-size: 1.1rem;
	}

	p {
		@include con;
		font-weight: 300;
		column-gap: 2rem;
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		@include hyphens(auto);

		@include for-size(xs) {
			columns: 1;
			-webkit-columns: 1;
			-moz-columns: 1;
		}
	}

	a {
		text-decoration: underline;
		display: inline;
		color: inherit !important;
	}

	ul {
		@include con;
		padding: 0;

		li {
			@include con;
			list-style: none;
			padding: 0;
			padding-left: 1rem;
			margin-bottom: 0.25rem;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 12px;
				width: 5px;
				height: 5px;
				@include border-radius(100%);
				background: $grey-dark;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	figure.table {
		@include con;

		table {
			width: 100%;
			margin-top: 0.25rem;
			border: none;
			border-collapse: collapse;
			font-size: 0.85rem;
			table-layout: fixed;

			tbody {
				tr {
					th, td {
						text-align: left;
						padding: 0.75rem;
						border: 1px solid $grey-15;

						&:first-child {
							border-left: 0;
							padding-left: 0;
						}

						&:last-child {
							border-right: 0;
							padding-right: 0;
						}
					}

					th {
						font-weight: 700;
					}

					td {
						font-weight: 300;
					}

					&:first-child {
						th, td {
							border-top: 0;
						}
					}

					&:last-child {
						th, td {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}

	&.text-col-1 {
		p {
			columns: 1;
			-webkit-columns: 1;
			-moz-columns: 1;
		}
	}

	&.text-col-2 {
		p {
			@include for-size(sm) {
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
			}
		}
	}

	&.text-col-3 {
		p {
			@include for-size(sm) {
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
			}
			@include for-size(md) {
				columns: 3;
				-webkit-columns: 3;
				-moz-columns: 3;
			}
		}
	}

	&.text-col-4 {
		p {
			@include for-size(sm) {
				columns: 2;
				-webkit-columns: 2;
				-moz-columns: 2;
			}
			@include for-size(md) {
				columns: 3;
				-webkit-columns: 3;
				-moz-columns: 3;
			}
			@include for-size(lg) {
				columns: 4;
				-webkit-columns: 4;
				-moz-columns: 4;
			}
		}
	}
}

.ce-image {
	img {
		@include con;
	}
}

.ce-code {
	width: auto !important;
	height: auto !important;
	display: block !important;
	margin: 0.5rem 0 !important;
	padding: 0.75rem !important;
	white-space: pre-wrap !important;
	border: none !important;

	&.gap-t {
		margin-top: 0.75rem !important;
	}

	&.gap-b {
		margin-bottom: 0.75rem !important;
	}

	code {
		width: 100% !important;
		max-width: 100% !important;
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}

.ce-button-group {
	width: 100%;

	.neos-contentcollection {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
}

.ce-button {
	margin-right: 0.5rem;
	flex-basis: auto;

	a {
		display: block;
		float: left;
		padding: 0.75rem 1.5rem;
		text-align: center;
		font-weight: 700;
		font-size: 0.75rem;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		opacity: 1;
		@include transition(all 0.35s $default-easing);

		&:hover {
			opacity: 0.75;
			@include transition(all 0.25s $default-easing);
		}
	}
}

.ce-output {
	width: 100%;
	display: grid;
	padding: 0;
	background: none !important;
	column-gap: 0.75rem;
	row-gap: 0.75rem;

	.ce-reference-project, .ce-output-item a {
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		padding: 2rem;
		margin-bottom: 0.5rem !important;
		@include border-radius($radius-large);
		@include transform(translateY(0));
		border: 1px solid $grey-10;
		@include transition(all 0.35s $default-easing);

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			@include transition(all 0.35s $default-easing);
			@include transform(translateY(-10px));
			@include box-shadow($shadow-medium);
		}



		//ACCENT COLORS
		&.ac-orange {
			ul.cat-list li, p.date, .read-more i {
				color: $orange;
			}
			.content h4:before {
				background: $orange;
			}
		}
		&.ac-pink {
			ul.cat-list li, p.date, .read-more i {
				color: $pink;
			}
			.content h4:before {
				background: $pink;
			}
		}
		&.ac-blue {
			ul.cat-list li, p.date, .read-more i {
				color: $blue;
			}
			.content h4:before {
				background: $blue;
			}
		}
		&.ac-accent {
			ul.cat-list li, p.date, .read-more i {
				color: $accent;
			}
			.content h4:before {
				background: $accent;
			}
		}

		&.ac-gradient-main {
			ul.cat-list li, p.date, .read-more i {
				color: $orange;
			}
			.content h4:before {
				@include gradient-main;
			}
		}
		&.ac-gradient-orange-pink {
			ul.cat-list li, p.date, .read-more i {
				color: $pink;
			}
			.content h4:before {
				@include gradient-orange-pink;
			}
		}
		&.ac-gradient-pink-blue {
			ul.cat-list li, p.date, .read-more i {
				color: $blue;
			}
			.content h4:before {
				@include gradient-pink-blue;
			}
		}

		&.ac-gradient-orange {
			ul.cat-list li, p.date, .read-more i {
				color: $orange-l;
			}
			.content h4:before {
				@include gradient-orange;
			}
		}
		&.ac-gradient-pink {
			ul.cat-list li, p.date, .read-more i {
				color: $pink-l;
			}
			.content h4:before {
				@include gradient-pink;
			}
		}
		&.ac-gradient-blue {
			ul.cat-list li, p.date, .read-more i {
				color: $blue-l;
			}
			.content h4:before {
				@include gradient-blue;
			}
		}

		&.ac-white {
			ul.cat-list li, p.date, .read-more i {
				color: $white;
			}
			.content h4:before {
				background: $white;
			}
		}

		&.ac-black {
			ul.cat-list li, p.date, .read-more i {
				color: $black;
			}
			.content h4:before {
				background: $black;
			}
		}

		&.ac-grey-light {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-light;
			}
			.content h4:before {
				background: $grey-light;
			}
		}

		&.ac-grey-dark {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-dark;
			}
			.content h4:before {
				background: $grey-dark;
			}
		}

		&.ac-grey-5 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-5;
			}
			.content h4:before {
				background: $grey-5;
			}
		}

		&.ac-grey-10 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-10;
			}
			.content h4:before {
				background: $grey-10;
			}
		}

		&.ac-grey-15 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-15;
			}
			.content h4:before {
				background: $grey-15;
			}
		}

		&.ac-grey-20 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-20;
			}
			.content h4:before {
				background: $grey-20;
			}
		}

		&.ac-grey-25 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-25;
			}
			.content h4:before {
				background: $grey-25;
			}
		}

		&.ac-grey-30 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-30;
			}
			.content h4:before {
				background: $grey-30;
			}
		}

		&.ac-grey-35 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-35;
			}
			.content h4:before {
				background: $grey-35;
			}
		}

		&.ac-grey-40 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-40;
			}
			.content h4:before {
				background: $grey-40;
			}
		}

		&.ac-grey-45 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-45;
			}
			.content h4:before {
				background: $grey-45;
			}
		}

		&.ac-grey-50 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-50;
			}
			.content h4:before {
				background: $grey-50;
			}
		}

		&.ac-grey-55 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-55;
			}
			.content h4:before {
				background: $grey-55;
			}
		}

		&.ac-grey-60 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-60;
			}
			.content h4:before {
				background: $grey-60;
			}
		}

		&.ac-grey-65 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-65;
			}
			.content h4:before {
				background: $grey-65;
			}
		}

		&.ac-grey-70 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-70;
			}
			.content h4:before {
				background: $grey-70;
			}
		}

		&.ac-grey-75 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-75;
			}
			.content h4:before {
				background: $grey-75;
			}
		}

		&.ac-grey-80 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-80;
			}
			.content h4:before {
				background: $grey-80;
			}
		}

		&.ac-grey-85 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-85;
			}
			.content h4:before {
				background: $grey-85;
			}
		}

		&.ac-grey-90 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-90;
			}
			.content h4:before {
				background: $grey-90;
			}
		}

		&.ac-grey-95 {
			ul.cat-list li, p.date, .read-more i {
				color: $grey-95;
			}
			.content h4:before {
				background: $grey-95;
			}
		}


		.icon, .image {
			flex-basis: 100%;
			height: auto;
			position: relative;
			overflow: hidden;

			@include for-size(md) {
				flex-basis: 33.333%;
			}

			img {
				@include con;
				position: relative;
				z-index: 5;
			}
		}

		.content {
			flex-basis: 100%;
			height: auto;
			padding-left: 1.5rem;
			position: relative;
			z-index: 5;

			@include for-size(md) {
				flex-basis: 66.666%;
			}

			h4 {
				@include con;
				line-height: 1.2;
				text-transform: none;
				font-size: 1.25rem;
				@include font;
				position: relative;
				margin-bottom: 1.25rem;
				margin-bottom: calc(1.25rem + 10px);

				&:before {
					content: "";
					position: absolute;
					z-index: 1;
					bottom: -8px;
					left: 0;
					width: 90px;
					max-width: 40%;
					min-width: 10%;
					height: 4px;
				}

				@include for-size(md) {
					font-size: 1.33rem;
				}

				@include for-size(lg) {
					font-size: 1.5rem;
				}
			}

			p.desc {
				@include con;
			}
		}
	}

	.ce-output-item {
		width: 100%;
		background: none !important;

		a {
			position: relative;
			align-items: stretch;
			margin-bottom: 0rem !important;

			.image {
				position: relative;
				@include border-radius($radius-medium);
				overflow: hidden;

				.badge-new {
					position: absolute;
					top: 0.75rem;
					left: 0.75rem;
					padding: 0.25rem 0.75rem 0.2rem;
					color: $white;
					@include border-radius($radius-small);
					z-index: 5;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 0.01rem;
					font-size: 0.75rem;
				}

				figure {
					@include transition(all 0.35s $default-easing);
					width: 100%;
					height: 100%;
					@include background-size(cover !important);
					filter: grayscale(100%);
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
				}
			}

			.info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1.25rem;

				p.date {
					width: auto;
					display: inline;
					font-weight: 700;
					font-size: 1rem;
				}

				ul.cat-list {
					width: auto;
					height: auto;
					display: flex;
					justify-items: flex-start;
					align-items: center;
					justify-content: flex-start;
					flex-wrap: wrap;

					li {
						display: inline;
						width: auto;
						height: auto;
						list-style: none;
						font-size: 0.85rem;
						text-transform: uppercase;
						font-weight: 700;
						margin-right: 0.5rem;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	//BG COLORS
	/*
	&.bg-orange {
		.ce-reference-project, .ce-output-item a {
			background: $orange;
		}
	}
	&.bg-pink {
		.ce-reference-project, .ce-output-item a {
			background: $pink;
		}
	}
	&.bg-blue {
		.ce-reference-project, .ce-output-item a {
			background: $blue;
		}
	}
	&.bg-accent {
		.ce-reference-project, .ce-output-item a {
			background: $accent;
		}
	}

	.bg-gradient-main {
		.ce-reference-project, .ce-output-item a {
			@include gradient-main;
		}
	}
	.bg-gradient-orange-pink {
		.ce-reference-project, .ce-output-item a {
			@include gradient-orange-pink;
		}
	}
	.bg-gradient-pink-blue {
		.ce-reference-project, .ce-output-item a {
			@include gradient-pink-blue;
		}
	}

	.bg-gradient-orange {
		.ce-reference-project, .ce-output-item a {
			@include gradient-orange;
		}
	}
	.bg-gradient-pink {
		.ce-reference-project, .ce-output-item a {
			@include gradient-pink;
		}
	}
	.bg-gradient-blue {
		.ce-reference-project, .ce-output-item a {
			@include gradient-blue;
		}
	}

	&.bg-white {
		.ce-reference-project, .ce-output-item a {
			background: $white;
		}
	}

	&.bg-black {
		.ce-reference-project, .ce-output-item a {
			background: $black;
		}
	}

	&.bg-grey-light {
		.ce-reference-project, .ce-output-item a {
			background: $grey-light;
		}
	}

	&.bg-grey-dark {
		.ce-reference-project, .ce-output-item a {
			background: $grey-dark;
		}
	}

	&.bg-grey-5 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-5;
		}
	}

	&.bg-grey-10 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-10;
		}
	}

	&.bg-grey-15 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-15;
		}
	}

	&.bg-grey-20 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-20;
		}
	}

	&.bg-grey-25 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-25;
		}
	}

	&.bg-grey-30 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-30;
		}
	}

	&.bg-grey-35 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-35;
		}
	}

	&.bg-grey-40 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-40;
		}
	}

	&.bg-grey-45 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-45;
		}
	}

	&.bg-grey-50 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-50;
		}
	}

	&.bg-grey-55 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-55;
		}
	}

	&.bg-grey-60 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-60;
		}
	}

	&.bg-grey-65 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-65;
		}
	}

	&.bg-grey-70 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-70;
		}
	}

	&.bg-grey-75 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-75;
		}
	}

	&.bg-grey-80 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-80;
		}
	}

	&.bg-grey-85 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-85;
		}
	}

	&.bg-grey-90 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-90;
		}
	}

	&.bg-grey-95 {
		.ce-reference-project, .ce-output-item a {
			background: $grey-95;
		}
	}

	//ACCENT COLORS
	&.ac-orange {
		ul.cat-list li, p.date, .read-more i {
			color: $orange;
		}
		.content h4:before {
			background: $orange;
		}
	}
	&.ac-pink {
		ul.cat-list li, p.date, .read-more i {
			color: $pink;
		}
		.content h4:before {
			background: $pink;
		}
	}
	&.ac-blue {
		ul.cat-list li, p.date, .read-more i {
			color: $blue;
		}
		.content h4:before {
			background: $blue;
		}
	}
	&.ac-accent {
		ul.cat-list li, p.date, .read-more i {
			color: $accent;
		}
		.content h4:before {
			background: $accent;
		}
	}

	&.ac-gradient-main {
		ul.cat-list li, p.date, .read-more i {
			color: $orange;
		}
		.content h4:before {
			@include gradient-main;
		}
	}
	&.ac-gradient-orange-pink {
		ul.cat-list li, p.date, .read-more i {
			color: $pink;
		}
		.content h4:before {
			@include gradient-orange-pink;
		}
	}
	&.ac-gradient-pink-blue {
		ul.cat-list li, p.date, .read-more i {
			color: $blue;
		}
		.content h4:before {
			@include gradient-pink-blue;
		}
	}

	&.ac-gradient-orange {
		ul.cat-list li, p.date, .read-more i {
			color: $orange-l;
		}
		.content h4:before {
			@include gradient-orange;
		}
	}
	&.ac-gradient-pink {
		ul.cat-list li, p.date, .read-more i {
			color: $pink-l;
		}
		.content h4:before {
			@include gradient-pink;
		}
	}
	&.ac-gradient-blue {
		ul.cat-list li, p.date, .read-more i {
			color: $blue-l;
		}
		.content h4:before {
			@include gradient-blue;
		}
	}

	&.ac-white {
		ul.cat-list li, p.date, .read-more i {
			color: $white;
		}
		.content h4:before {
			background: $white;
		}
	}

	&.ac-black {
		ul.cat-list li, p.date, .read-more i {
			color: $black;
		}
		.content h4:before {
			background: $black;
		}
	}

	&.ac-grey-light {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-light;
		}
		.content h4:before {
			background: $grey-light;
		}
	}

	&.ac-grey-dark {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-dark;
		}
		.content h4:before {
			background: $grey-dark;
		}
	}

	&.ac-grey-5 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-5;
		}
		.content h4:before {
			background: $grey-5;
		}
	}

	&.ac-grey-10 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-10;
		}
		.content h4:before {
			background: $grey-10;
		}
	}

	&.ac-grey-15 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-15;
		}
		.content h4:before {
			background: $grey-15;
		}
	}

	&.ac-grey-20 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-20;
		}
		.content h4:before {
			background: $grey-20;
		}
	}

	&.ac-grey-25 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-25;
		}
		.content h4:before {
			background: $grey-25;
		}
	}

	&.ac-grey-30 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-30;
		}
		.content h4:before {
			background: $grey-30;
		}
	}

	&.ac-grey-35 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-35;
		}
		.content h4:before {
			background: $grey-35;
		}
	}

	&.ac-grey-40 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-40;
		}
		.content h4:before {
			background: $grey-40;
		}
	}

	&.ac-grey-45 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-45;
		}
		.content h4:before {
			background: $grey-45;
		}
	}

	&.ac-grey-50 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-50;
		}
		.content h4:before {
			background: $grey-50;
		}
	}

	&.ac-grey-55 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-55;
		}
		.content h4:before {
			background: $grey-55;
		}
	}

	&.ac-grey-60 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-60;
		}
		.content h4:before {
			background: $grey-60;
		}
	}

	&.ac-grey-65 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-65;
		}
		.content h4:before {
			background: $grey-65;
		}
	}

	&.ac-grey-70 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-70;
		}
		.content h4:before {
			background: $grey-70;
		}
	}

	&.ac-grey-75 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-75;
		}
		.content h4:before {
			background: $grey-75;
		}
	}

	&.ac-grey-80 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-80;
		}
		.content h4:before {
			background: $grey-80;
		}
	}

	&.ac-grey-85 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-85;
		}
		.content h4:before {
			background: $grey-85;
		}
	}

	&.ac-grey-90 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-90;
		}
		.content h4:before {
			background: $grey-90;
		}
	}

	&.ac-grey-95 {
		ul.cat-list li, p.date, .read-more i {
			color: $grey-95;
		}
		.content h4:before {
			background: $grey-95;
		}
	}

	//FONT COLORS
	&.fc-orange {
		.content h4, .content p.desc {
			color: $orange;
		}
	}
	&.fc-pink {
		.content h4, .content p.desc {
			color: $pink;
		}
	}
	&.fc-blue {
		.content h4, .content p.desc {
			color: $blue;
		}
	}
	&.fc-accent {
		.content h4, .content p.desc {
			color: $accent;
		}
	}

	&.fc-white {
		.content h4, .content p.desc {
			color: $white;
		}
	}

	&.fc-grey-light {
		.content h4, .content p.desc {
			color: $grey-light;
		}
	}

	&.fc-grey-dark {
		.content h4, .content p.desc {
			color: $grey-dark;
		}
	}

	&.fc-grey-5 {
		.content h4, .content p.desc {
			color: $grey-5;
		}
	}

	&.fc-grey-10 {
		.content h4, .content p.desc {
			color: $grey-10;
		}
	}

	&.fc-grey-15 {
		.content h4, .content p.desc {
			color: $grey-15;
		}
	}

	&.fc-grey-20 {
		.content h4, .content p.desc {
			color: $grey-20;
		}
	}

	&.fc-grey-25 {
		.content h4, .content p.desc {
			color: $grey-25;
		}
	}

	&.fc-grey-30 {
		.content h4, .content p.desc {
			color: $grey-30;
		}
	}

	&.fc-grey-35 {
		.content h4, .content p.desc {
			color: $grey-35;
		}
	}

	&.fc-grey-40 {
		.content h4, .content p.desc {
			color: $grey-40;
		}
	}

	&.fc-grey-45 {
		.content h4, .content p.desc {
			color: $grey-45;
		}
	}

	&.fc-grey-50 {
		.content h4, .content p.desc {
			color: $grey-50;
		}
	}

	&.fc-grey-55 {
		.content h4, .content p.desc {
			color: $grey-55;
		}
	}

	&.fc-grey-60 {
		.content h4, .content p.desc {
			color: $grey-60;
		}
	}

	&.fc-grey-65 {
		.content h4, .content p.desc {
			color: $grey-65;
		}
	}

	&.fc-grey-70 {
		.content h4, .content p.desc {
			color: $grey-70;
		}
	}

	&.fc-grey-75 {
		.content h4, .content p.desc {
			color: $grey-75;
		}
	}

	&.fc-grey-80 {
		.content h4, .content p.desc {
			color: $grey-80;
		}
	}

	&.fc-grey-85 {
		.content h4, .content p.desc {
			color: $grey-85;
		}
	}

	&.fc-grey-90 {
		.content h4, .content p.desc {
			color: $grey-90;
		}
	}

	&.fc-grey-95 {
		.content h4, .content p.desc {
			color: $grey-95;
		}
	}
	*/

	&.style-compressed {
		.ce-reference-project, .ce-output-item a {
			.icon, .image {
				display: none;
			}
			.content {
				@include for-size(md) {
					flex-basis: 100%;
				}
			}
		}
	}

	&.style-minimal {
		.ce-reference-project, .ce-output-item a {
			.icon, .image {
				display: none;
			}
			.content {
				@include for-size(md) {
					flex-basis: 100%;
				}

				p.desc {
					display: none;
				}
			}
		}
	}
}



//CARD
.card {
	@include con;
	&.gap-t {
		padding-top: 1rem;

		@include for-size(sm) {
			padding-top: 1.5rem;
		}

		@include for-size(md) {
			padding-top: 2rem;
		}
	}
	&.gap-b {
		padding-bottom: 1rem;

		@include for-size(sm) {
			padding-bottom: 1.5rem;
		}

		@include for-size(md) {
			padding-bottom: 2rem;
		}
	}
	&.gap-l {
		padding-left: 1rem;

		@include for-size(sm) {
			padding-left: 1.5rem;
		}

		@include for-size(md) {
			padding-left: 2rem;
		}
	}
	&.gap-r {
		padding-right: 1rem;

		@include for-size(sm) {
			padding-right: 1.5rem;
		}

		@include for-size(md) {
			padding-right: 2rem;
		}
	}
}

ul.output-pagination {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 3rem;

	li.pagination-item {
		display: inline;
		list-style: none;
		margin-right: 0.75rem;

		&:last-child {
			margin-right: 0;
		}

		&.current {
			a, a:hover {
				@include gradient-orange-pink;
				color: $white;
				cursor: default;
			}
		}

		a {
			height: auto;
			width: auto;
			background: $white;
			padding: 0.5rem 0.95rem;
			color: $grey-light;
			font-size: 0.85rem;
			text-transform: uppercase;
			font-weight: 700;
			@include box-shadow($shadow-small);
			@include border-radius($radius-small);
			@include transition(all 0.35s $default-easing);

			&:hover {
				@include transition(all 0.35s $default-easing);
				@include box-shadow($shadow-medium);
				color: $grey-dark;
			}
		}
	}
}

//BG Image for Section and Header
figure.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-repeat: no-repeat !important;
	@include background-size(cover !important);
	background-position: center center !important;

	//BLEND MODE
	&.multiply {
		mix-blend-mode: multiply;
		background-blend-mode: multiply;
	}
	&.overlay {
		mix-blend-mode: overlay;
		background-blend-mode: overlay;
	}
	&.lighten {
		mix-blend-mode: lighten;
		background-blend-mode: lighten;
	}
	&.soft-light {
		mix-blend-mode: soft-light;
		background-blend-mode: soft-light;
	}
	&.hard-light {
		mix-blend-mode: hard-light;
		background-blend-mode:hard-light;
	}
	//FILTER
	&.b-w {
		filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}
}

.v-grid {
	&.preview-mode {
		padding: 0;
		grid-gap: 0.75rem;
		.v-cell {
			padding: 0.5rem;
			@include border-radius($radius-small);

			p {
				font-weight: 700 !important;
				font-size: 0.85rem;
				text-transform: uppercase;
				text-align: center;
			}
		}
		//BG COLORS
		&.pc-orange {
			.v-cell {
				background: $orange;
				p {
					color: $white;
				}
			}
		}
		&.pc-pink {
			.v-cell {
				background: $pink;
				p {
					color: $white;
				}
			}
		}
		&.pc-blue {
			.v-cell {
				background: $blue;
				p {
					color: $white;
				}
			}
		}
		&.pc-accent {
			.v-cell {
				background: $accent;
				p {
					color: $white;
				}
			}
		}

		&.pc-white {
			.v-cell {
				background: $white;
				p {
					color: $grey-light;
				}
			}
		}

		&.pc-black {
			.v-cell {
				background: $black;
				p {
					color: $grey-dark;
				}
			}
		}

		&.pc-grey-light {
			.v-cell {
				background: $grey-light;
				p {
					color: $grey-dark;
				}
			}
		}

		&.pc-grey-dark {
			.v-cell {
				background: $grey-dark;
				p {
					color: $grey-light;
				}
			}
		}
	}
}

figure.graph {
	@include con;
	@include border-radius($radius-small);
	position: relative;
	padding-bottom: 50px;

	.graph-legend {
		background: $orange;
		position: absolute;
		height: 100%;
		width: 2px;
		top: 0;
		left: 0;
		@include transform(translateX(-3px));
		z-index: 6;

		&.sm-bound {
			left: 20%;
		}

		&.md-bound {
			left: 40%;
		}

		&.lg-bound {
			left: 60%;
		}

		&.xl-bound {
			left: 80%;
		}

		span.label {
			background: $orange;
			position: absolute;
			bottom: 0;
			padding: 0.25rem 0.5rem;
			color: $white;
			white-space: nowrap;
			font-size: 0.75rem;
			@include border-radius(0 $radius-small $radius-small 0);
		}
	}

	.graph-content {
		@include con;

		.graph-bar {
			background: $orange;
			width: auto;
			height: auto;
			margin-bottom: 0.25rem;
			padding: 0.75rem;
			font-size: 0.85rem;
			color: $white;
			@include border-radius($radius-small);

			&:last-child {
				margin-bottom: 0;
			}

			&.xs {
				width: 100%;
			}

			&.sm {
				width: 80%;
				margin-left: 20%;
			}

			&.md {
				width: 60%;
				margin-left: 40%;
			}

			&.lg {
				width: 40%;
				margin-left: 60%;
			}

			&.xl {
				width: 20%;
				margin-left: 80%;
			}
		}
	}
}

//COOKIE CONSENT
.cc-window {
	@include box-shadow($shadow-medium);
}

//TAWK CHAT
.tawkchat-maximized-wrapper {
	.innerWrapper {
		@include box-shadow($shadow-medium !important);
		border: none !important;
	}
}

.shadow-small {
	@include box-shadow($shadow-small);
}
.shadow-medium {
	@include box-shadow($shadow-medium);
}
.shadow-large {
	@include box-shadow($shadow-large);
}

.radius-small {
	@include border-radius($radius-small);
}
.radius-medium {
	@include border-radius($radius-medium);
}
.radius-large {
	@include border-radius($radius-large);
}

//FONT COLORS
.fc-orange {
	color: $orange;
}
.fc-pink {
	color: $pink;
}
.fc-blue {
	color: $blue;
}
.fc-accent {
	color: $accent;
}

.fc-white {
	color: $white;
}

.fc-grey-light {
	color: $grey-light;
}

.fc-grey-dark {
	color: $grey-dark;
}

.fc-grey-5 {
	color: $grey-5;
}

.fc-grey-10 {
	color: $grey-10;
}

.fc-grey-15 {
	color: $grey-15;
}

.fc-grey-20 {
	color: $grey-20;
}

.fc-grey-25 {
	color: $grey-25;
}

.fc-grey-30 {
	color: $grey-30;
}

.fc-grey-35 {
	color: $grey-35;
}

.fc-grey-40 {
	color: $grey-40;
}

.fc-grey-45 {
	color: $grey-45;
}

.fc-grey-50 {
	color: $grey-50;
}

.fc-grey-55 {
	color: $grey-55;
}

.fc-grey-60 {
	color: $grey-60;
}

.fc-grey-65 {
	color: $grey-65;
}

.fc-grey-70 {
	color: $grey-70;
}

.fc-grey-75 {
	color: $grey-75;
}

.fc-grey-80 {
	color: $grey-80;
}

.fc-grey-85 {
	color: $grey-85;
}

.fc-grey-90 {
	color: $grey-90;
}

.fc-grey-95 {
	color: $grey-95;
}

//BG COLORS
.bg-orange {
	background: $orange;
}
.bg-pink {
	background: $pink;
}
.bg-blue {
	background: $blue;
}
.bg-accent {
	background: $accent;
}

.bg-gradient-main {
	@include gradient-main;
}
.bg-gradient-orange-pink {
	@include gradient-orange-pink;
}
.bg-gradient-pink-blue {
	@include gradient-pink-blue;
}

.bg-gradient-orange {
	@include gradient-orange;
}
.bg-gradient-pink {
	@include gradient-pink;
}
.bg-gradient-blue {
	@include gradient-blue;
}

.bg-white {
	background: $white;
}

.bg-black {
	background: $black;
}

.bg-grey-light {
	background: $grey-light;
}

.bg-grey-dark {
	background: $grey-dark;
}

.bg-grey-5 {
	background: $grey-5;
}

.bg-grey-10 {
	background: $grey-10;
}

.bg-grey-15 {
	background: $grey-15;
}

.bg-grey-20 {
	background: $grey-20;
}

.bg-grey-25 {
	background: $grey-25;
}

.bg-grey-30 {
	background: $grey-30;
}

.bg-grey-35 {
	background: $grey-35;
}

.bg-grey-40 {
	background: $grey-40;
}

.bg-grey-45 {
	background: $grey-45;
}

.bg-grey-50 {
	background: $grey-50;
}

.bg-grey-55 {
	background: $grey-55;
}

.bg-grey-60 {
	background: $grey-60;
}

.bg-grey-65 {
	background: $grey-65;
}

.bg-grey-70 {
	background: $grey-70;
}

.bg-grey-75 {
	background: $grey-75;
}

.bg-grey-80 {
	background: $grey-80;
}

.bg-grey-85 {
	background: $grey-85;
}

.bg-grey-90 {
	background: $grey-90;
}

.bg-grey-95 {
	background: $grey-95;
}

//OPACITY
.opacity-5 {
	opacity: 0.05;
}
.opacity-10 {
	opacity: 0.1;
}
.opacity-15 {
	opacity: 0.15;
}
.opacity-20 {
	opacity: 0.2;
}
.opacity-25 {
	opacity: 0.25;
}
.opacity-30 {
	opacity: 0.3;
}
.opacity-35 {
	opacity: 0.35;
}
.opacity-40 {
	opacity: 0.4;
}
.opacity-45 {
	opacity: 0.45;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-55 {
	opacity: 0.55;
}
.opacity-6 {
	opacity: 0.6;
}
.opacity-65 {
	opacity: 0.65;
}
.opacity-70 {
	opacity: 0.7;
}
.opacity-75 {
	opacity: 0.75;
}
.opacity-80 {
	opacity: 0.8;
}
.opacity-85 {
	opacity: 0.85;
}
.opacity-90 {
	opacity: 0.9;
}
.opacity-95 {
	opacity: 0.95;
}
.opacity-100 {
	opacity: 1;
}
