///COLORS
$black: #000;
$white: #fff;

$c-primary: #FF4A5D;
$c-secondary: #182747;

$orange: #FF5535;
$orange-l: lighten($orange, 10%);
$orange-d: darken($orange, 10%);
$pink: #FF1467;
$pink-l: lighten($pink, 10%);
$pink-d: darken($pink, 10%);
$blue: #4A1DE8;
$blue-l: lighten($blue, 10%);
$blue-d: darken($blue, 10%);

$accent: #001E5D;
$accent-l: lighten($accent, 10%);
$accent-d: darken($accent, 10%);

$grey-5: darken($white, 5%);
$grey-10: darken($white, 10%);
$grey-15: darken($white, 15%);
$grey-20: darken($white, 20%);
$grey-25: darken($white, 25%);
$grey-30: darken($white, 30%);
$grey-35: darken($white, 35%);
$grey-40: darken($white, 40%);
$grey-45: darken($white, 45%);
$grey-50: darken($white, 50%);
$grey-55: darken($white, 55%);
$grey-60: darken($white, 60%);
$grey-65: darken($white, 65%);
$grey-70: darken($white, 70%);
$grey-75: darken($white, 75%);
$grey-80: darken($white, 80%);
$grey-85: darken($white, 85%);
$grey-90: darken($white, 90%);
$grey-95: darken($white, 95%);
$grey-light: $grey-25;
$grey-dark: $grey-85;

//DEFAULT EASING
$default-easing: cubic-bezier(0.77, 0, 0.175, 1);

//DEFAULT RADIUS
$radius-small: 6px;
$radius-medium: 12px;
$radius-large: 24px;

//DEFAULT SHADOW
$shadow-small: 0 2px 6px rgba(0,0,0,0.075);
$shadow-medium: 0 9px 16px rgba(0,0,0,0.15);
$shadow-large: 0 12px 24px rgba(0,0,0,0.25);

@mixin backdrop($values) {
	backdrop-filter: blur($values);
	--webkit-backdrop-filter: blur($values);
}
@mixin blur($values) {
	filter: blur($values);
	-webkit-filter: blur($values);
}

@mixin gradient-main {
	background: linear-gradient(-60deg, $orange, $pink, $blue);
	background: -webkit-linear-gradient(-60deg, $orange, $pink, $blue);
	background: -moz-linear-gradient(-60deg, $orange, $pink, $blue);
}
@mixin gradient-orange-pink {
	background: linear-gradient(-60deg, $orange, $pink);
	background: -webkit-linear-gradient(-60deg, $orange, $pink);
	background: -moz-linear-gradient(-60deg, $orange, $pink);
}
@mixin gradient-pink-blue {
	background: linear-gradient(-60deg, $pink, $blue);
	background: -webkit-linear-gradient(-60deg, $pink, $blue);
	background: -moz-linear-gradient(-60deg, $pink, $blue);
}
@mixin gradient-orange {
	background: linear-gradient(-60deg, $orange-l 0%, $orange 65%, $orange-d);
	background: -webkit-linear-gradient(-60deg, $orange-l 0%, $orange 65%, $orange-d);
	background: -moz-linear-gradient(-60deg, $orange-l 0%, $orange 65%, $orange-d);
}
@mixin gradient-pink {
	background: linear-gradient(-60deg, $pink-l 0%, $pink 65%, $pink-d);
	background: -webkit-linear-gradient(-60deg, $pink-l 0%, $pink 65%, $pink-d);
	background: -moz-linear-gradient(-60deg, $pink-l 0%, $pink 65%, $pink-d);
}
@mixin gradient-blue {
	background: linear-gradient(-60deg, $blue-l 0%, $blue 65%, $blue-d);
	background: -webkit-linear-gradient(-60deg, $blue-l 0%, $blue 65%, $blue-d);
	background: -moz-linear-gradient(-60deg, $blue-l 0%, $blue 65%, $blue-d);
}