//GRID ROWS & COLUMNS
$max-columns: 12;
$max-rows: 12;
//GRID MAX-WIDTH
$max-width: 1600px;

//GRID GAP
$gap-grid: 2.5rem;
$gap-columns: 2.5rem;
$gap-rows: 2.5rem;

//GRID BOUNDARY
$sm-boundary: 600px;
$md-boundary: 900px;
$lg-boundary: 1200px;
$xl-boundary: 1800px;